<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app_readbook">

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:name=".shareFreferences.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_ReadBook"
        android:usesCleartextTraffic="true"
        tools:ignore="Instantiatable,MissingClass"

        tools:targetApi="n">
        <activity
            android:name=".onboarding.OnboardingMain"
            android:exported="true" />
        <activity
            android:name=".activity.Register"
            android:exported="true" />
        <activity
            android:name=".fragment_pager.model_account.edit_tt_account"
            android:exported="true" />
        <activity
            android:name=".home"
            android:exported="true" />
        <activity
            android:name=".fragment_pager.model_account.Data_edit_account"
            android:exported="true" />
        <activity
            android:name=".View_ReadBook"
            android:exported="true" />
        <activity
            android:name=".readbook.MainReadbook"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".list_book.Main_ListBook" -->
        <!-- android:exported="true" -->
        <!-- android:parentActivityName=".home" /> -->
        <activity
            android:name=".activity.SignIn"
            android:exported="true" />
        <activity
            android:name=".fragment_pager.model_account.Data_edit_name"
            android:exported="true" />
        <activity
            android:name=".chapter.Main_Chapter"
            android:exported="true"
            android:parentActivityName=".View_ReadBook" />
        <activity
            android:name=".list_comment.Main_NodeReadBook"
            android:exported="true" />

        <activity
            android:name=".onboarding.Onboarding_View"
            android:exported="true" />
        <activity
            android:name=".list_book.Main_BookNew"
            android:exported="true" />
        <activity
            android:name=".list_book.Main_ListBook"
            android:exported="true" />
        <activity
            android:name=".ApiView.dangky"
            android:exported="true" />
        <activity
            android:name=".ApiView.dangnhap"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>