<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app_readbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />


    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <application
        android:name=".shareFreferences.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/backgoundapp"

        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_ReadBook"
        android:usesCleartextTraffic="true"
        tools:ignore="Instantiatable,MissingClass"
        tools:targetApi="n">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".SecondActivity"
            android:exported="true" />
        <activity
            android:name=".View.onboarding.OnboardingMain"
            android:exported="true" />
        <activity
            android:name=".View.fragment_pager.model_account.edit_tt_account"
            android:exported="true" />
        <activity
            android:name=".home"
            android:exported="true" />
        <activity
            android:name=".home_header"
            android:exported="true" />
        <activity
            android:name=".View.fragment_pager.model_account.Data_edit_account"
            android:exported="true" />
        <activity
            android:name=".View.View_Readbook.View_ReadBook"
            android:exported="true" />
        <activity
            android:name=".View.readbook.MainReadbook"
            android:exported="true"
            android:parentActivityName=".View.chapter.Main_Chapter">
        </activity>
        <activity
            android:name=".View.fragment_pager.model_account.Data_edit_name"
            android:exported="true" />
        <activity
            android:name=".View.chapter.Main_Chapter"
            android:exported="true"
            android:parentActivityName=".View.View_Readbook.View_ReadBook" />
        <activity
            android:name=".View.list_comment.Main_NodeReadBook"
            android:exported="true" />
        <activity
            android:name=".View.ApiLoginOrRegister.dangnhap"
            android:exported="true" />
        <activity
            android:name=".View.list_book.Main_BookNew"
            android:exported="true" />
        <activity
            android:name=".View.list_book.Main_ListBook"
            android:exported="true" />
        <activity
            android:name=".View.ApiLoginOrRegister.dangky"
            android:exported="true" />
        <activity
            android:name=".View.onboarding.Onboarding_View"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".View.BroadCastRecivice.NextWorkConnect"
            />
    </application>

</manifest>